# ignore compiled files
*.o 
greedo

# ignore debugging files
*.debug

# ignore embeddings
embeddings/*
!embeddings/README
!embeddings/small1k.dat

# ignore outputs
output/*
!output/README

# ignore writeup
writeup/*

# ignore dot files except for this
.*
!.gitignore